@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
	var selection = Umbraco.Content(Guid.Parse("ddd8a705-7c01-4b27-a81f-ff352b2d8232"))
    .ChildrenOfType("articlesItem")
    .Where(x => x.IsVisible())
    .OrderBy(x => x.CreateDate);
}

	@foreach (var item in selection)
	{
	       
	       <div class="col-md-4">
        
            <div>
             <a href="@item.Url">
                @{
                var articleImage = item.Value<IPublishedContent>("articleImage");
                if (articleImage != null)
                {
                   
                     <img src="@articleImage.Url" alt="@articleImage.Url" class="img-fluid">
                }
                }

                </a>
            </div>
            <div>
            <a href="@item.Url"><h2>@item.Name</h2></a>
            <div class="lead mb-0">
                 <p>@item.Value("articleTeaser")</p>
            </div>
           
            </div>
     
        </div>
        
       
               
		
		
	}

