@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web




@{

@* int numberOfProjects = Model.MacroParameters["NumberOfProjects"];*@

 var root = Model.Root();
 var selection = root
 .FirstChildOfType("projectsMain")
 .ChildrenOfType("projectItem")
 .Where(x => x.HasValue("projectStatus") && x.GetProperty("projectStatus")
 .Value<string>() == "Completed" && x.IsVisible())
 .OrderByDescending(x => x.CreateDate)
@* .Take(Convert.ToInt32(numberOfProjects))*@
 .ToArray();
}

@if (selection.Length > 0)
{
	foreach (var item in selection)
	{
	     <!-- post -->
              <div class="post col-xl-6">
                <div class="post-thumbnail">
                    <a href="@item.Url">
                @{
                var projectImage = item.Value<IPublishedContent>("projectImage");
                if (projectImage != null)
                {
                   
                     <img src="@projectImage.Url" alt="@projectImage.Url" class="img-fluid">
                }
                }

                </a>
                </div>
                <div class="post-details">
                  <div class="post-meta d-flex justify-content-between">
                   <a href="@item.Url">
                    <h3 class="h4">@item.Name</h3></a>
                
                  </div>
                
                </div>
              </div>
		
		
	}
	}

